extends layout.pug

block content
    if !allFollowers
        h3 You have zero followers.
    else
        h3 Followers:
        each account in allFollowers
            div
                ul
                    li= account.userObj.username
                    button.profile-button(type='button' href=`/users/${account.userObj.id}`) PROFILE

                    if account.mutual
                        button.unfollow-button(type='button' id=`${account.userObj.id}` href=`/api/users/${account.userObj.id}`) UNFOLLOW
                        //- href="unfollow logic delete route"
                    else
                        button.follow-button(type='button' id=`${account.userObj.id}` href=`/api/users/${account.userObj.id}`) FOLLOW BACK
                        
        script(src="/javascripts/followers.js" type="module" defer)
        //- script(src="/routes/personal.js")
