
mixin commentContent(commentContent)
    div(class="comment-user", id = `${commentContent.id}`)
        .comment-user-picture
            img#comment-user-picture(src="/p1.jpeg")
        #comment-user-name #{commentContent.User.username}
            .comment-content #{commentContent.content}
            i.fas.fa-backspace(id=`${commentContent.id}`)

mixin formField(title, forName, type, placeholder)
    span.form-row
        label.label-control(for=`${forName}`) #{title}
        input.form-control(type=`${type}` name=`${forName}` placeholder=`${placeholder}`)


mixin storyDisplay(id, username, image, content, commentContent, likes, liked)
    .container
        .story
            .user-column
                .user-picture
                    img#user-picture(src="/p1.jpeg")
                .user-name #{username}
                .follow-state Follow
                .likes-counter(class=`counter-${id}`) #{likes}
                .like-icon
                    if (liked)
                        i(class=`fas fa-heart` id=`${id}`)
                    else
                        i(class=`far fa-heart` id=`${id}`)
                .comment-icon
                    i.far.fa-comment(id=`${id}`)
                .delete-icon
                    i.far.fa-trash-alt(id=`${id}` class="deleteButtonDisplay")
            .story-board
                .story-picture
                    img#story-picture(src=`/${image}`)
                .content
                    .story-title STORIES:
                    .story-content #{content}
                    .comments
                        .comment-title COMMENTS:
                        if commentContent
                            each comment in commentContent
                                +commentContent(comment)


mixin personalStoryDisplay(username, image, content, commentContent, storyId)
    .container
        .story(class=`story${storyId}`)
            .user-column
                .user-picture
                    img#user-picture(src="/p1.jpeg")
                .user-name #{username}
                .follow-state Follow
                .likes-counter 123
                .like-icon
                    i(class="fas fa-heart")
                .comment-icon
                    i.far.fa-comment(id=`${storyId}`)
                .delete-icon
                    i.far.fa-trash-alt(id=`${storyId}`)
            .story-board
                .story-picture
                    img#story-picture(src=`/${image}`)
                .content
                    a.story-title(href="/post/new") STORIES:
                    .story-content #{content}
                    .comments
                        a.comment-title(href=`/comments/${storyId}`) COMMENTS:
                        if commentContent
                            each comment in commentContent
                                +commentContent(comment)


mixin buttons
    if locals.authenticated
        span.welcome-logout Welcome #{user.firstName}!
            form(action='/users/logout' method='post')
                button.btn.btn-primary(type='submit') Logout

    else
        span
            a.loginSign(href='/users/login') Login
            a.loginSign(href='/users/signup') Sign Up

mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error


