mixin formField(title, forName, type, placeholder)
    span.form-row
        label.label-control(for=`${forName}`) #{title}
        input.form-control(type=`${type}` name=`${forName}` placeholder=`${placeholder}`)
